@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter';
    /* font-weight: 400; */
}

html,body{
    width: 100%;
    height: 100%;
}
/* 

@font-face {
    font-family: "Inter ";
    src: url("/Fonts/Inter-Regular.woff");
  }
  
  @font-face {
    font-family: "Inter";
    src: url("/Fonts/Inter-Regular.woff2");
  } */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.content{
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8vw;
    padding: 1vw;
    /* background-color: red; */
}

.backDash{
    width: 10vw;
    display: flex;
    align-items: center;
    gap: .5vw;
    margin-bottom: 1vw;
    /* background-color: skyblue; */
}

.backDash a{
    text-decoration: none;
    color: #000;
    font-size: .9em;
    font-weight: 500;
}

.backDash a:hover{
    text-decoration: underline;
    transition: .2s ease;
}


.backDash svg{
    width:21px;
    height: 21px;
}


i {
    font-size: 1.2em;
}


.image{
    width: 8vw;
    cursor: pointer;
    /* background-color: red; */
}



img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

form {
    width: 38vw;
    border: 1px solid #fffbfb;
    /* border: transparent; */
    border-radius: 20px;
    /* background-color: red; */
    padding: 1.6vw 1.6vw;
    padding-top:2.3vw;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 1vw;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* box-shadow: 0px 3px 14px skyblue; */
  }
  
  .text-content {
    margin-bottom: 2vw;
  }
  
  .text-content h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
  }
  
  .text-content p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0.1vw;
    color: rgb(102, 112, 133);
  }
  
  .text-content a {
    color: rgb(99, 91, 255);
    text-decoration: none;
    font-weight: 500;
  }
  
  .text-content a:hover {
    text-decoration: underline;
    transition: 0.2s ease;
  }
  
  /* label,
  input {
    display: block;
  }
   */
  label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    /* margin-bottom: 1vw; */
  }

  .input-field{
    display: flex;
    /* background-color: red; */
    flex-direction: column; 
    gap: .3vw;
  }
 

  #code-div{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: .4vw;
  }


  input {
    width: 100%;
    padding: 0.6vw;
    font-size: 16px;
    border-radius: 0.4vw;
    border: 1px solid #dcdfe4;
    /* border: transparent; */
    outline: #635bff;
    transition: border-color 0.2s ease;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    margin-bottom: 1vw;
  }
  
  .input-field div:focus-within label {
      color: rgb(91, 91, 239); /* Same as input focus border */
      transition:color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1);;
    }
  
  
  input:focus {
    border: 2px solid rgb(91, 91, 239);
    /* box-shadow: 0px 0px 5px blue; */
  }

  .submit {
    /* margin-top:vw; */
    font-size:14px;
    line-height: 23px;
    color: #fff;
    border-radius: .6vw;
    background-color: rgb(78, 54, 245);
    background: linear-gradient(rgb(99,91,255) 0% , rgb(78,54,245) 100%);
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
  
  }